<!DOCTYPE html>
<html>
  <head>
      <% include ../partials/head %>
  </head>
  
  <body>
    <div class="navBar">
      <% include ../partials/nav %>
    </div>
      <div class="container">
        <div class="container">
          <div class="container area-top-padding col-6 ">
              <div class="container row window-grey justify-content-center">
                  <br />
                  <h1><%= title %></h1>
                  <br>
                  <h5>Created by <%= owner %></h5>
                  <br />        
              </div>
          </div>
        </div>
      </div>
          







    <% include ../partials/scripts %>
  </body>
</html>
