<!DOCTYPE html>
<html>
  <head>
      <% include ../partials/head %>
  </head>
  
  <body>
    <div class="navBar">
      <% include ../partials/nav %>
    </div>
    
    <div class="main-content">
        <br />
        <h1>This is the home Page</h1>
        <br />


    </div>

  







    <% include ../partials/scripts %>
  </body>
</html>
