<!DOCTYPE html>
<html>
  <head>
      <% include ../partials/head %>
      <title>Login Page</title>
  </head>
  
  <body>
    <div class="navBar">
      <% include ../partials/nav %>
    </div>
    
<div class="container">
  <div class="container row col-sm">
    <div class="container area-top-padding col-sm-6">
        <div class="container row window-grey justify-content-center">
          <h4>Welcome to the login Page</h4></h3>
          <br>
          <p>Once logged you will will have access to these great features</p>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio mollitia rem soluta et officia sed labore tempore sint perferendis maiores architecto exercitationem dolorem, illo laborum eligendi praesentium, tempora nam magnam. Voluptatibus, illo quas!</p>
          <br>
          </div>
    </div>
    
  
    <div class="container area-top-padding col-sm-6">
      <div class="container row window-grey">
        <div class="container">
          <h4>Please login below</h4>
          <br>
          <h5>You can't access your account until you login</h5>
          <br>
          <p>Don't forget all of the great features your are missing by not being logged on</p>
          <p>heck the list to the left to see what you miss out on!</p>
          <br>
          <hr>
      </div>
        <div class="container">
            <% include ../partials/login %>
        </div>
      </div>
    </div>    


  </di>
</div>
 <% include ../partials/scripts %>
  </body>
</html>
