<!DOCTYPE html>
<html>
  <head>
      <% include ../partials/head %>
  </head>
  
  <body>
    <div class="navBar">
      <% include ../partials/nav %>
    </div>

    <!-- Slideshow container -->
    <main role="main">


    </main>
    <% include ../partials/scripts %>
  </body>
</html>