<!DOCTYPE html>
<html>
  <head>
      <% include ../partials/head %>
  </head>
  
  <body>
    <div class="navBar">
      <% include ../partials/nav %>
    </div>
    Welcome
    <%= username %>
    <!-- Slideshow container -->
    <main role="main">

    <% include ../partials/logout_button %>
      
    </main>
    <% include ../partials/scripts %>
  </body>
</html>