<!DOCTYPE html>
<html>
  <head>
      <% include ../partials/head %>
  </head>
  
  <body>
    <div class="navBar">
      <% include ../partials/nav %>
    </div>


  <div class="container signup-partial">
      <div class="main-content">
          <br />
          <h1>Sign up Page</h1>
          <br />
          <br />
          <br />
      </div>

      <% include ../partials/signup %>
</div>
        
      



    <% include ../partials/scripts %>
  </body>
</html>
